$vert: #228B22;

.tourpagecontainer {
  .randomimage {
    width: 100%;
    height: 250px;
    background: url("https://tours.viajes-madagascar.mg/uploads/baobab3.jpg")
      center/cover;
  }
  .mytourcontainer {
    width: 80%;
    margin: 0 auto 20px;
    h1 {
      text-align: center;
      position: relative;
      margin: 20px;
      &::after {
        @include titleafter(50%, 100px, $marron);
      }
    }
    #tourpartone {
      display: flex;
      justify-content: space-between;
      align-items: top;
      @media screen and (max-width: 719px){
        display: block;
      }
      .topleftcol {
        padding: 2% 0;
        width: 50%;
        margin: 0 auto 0;
        @media screen and (max-width: 719px){
          width: 100%;
        }
        Carousel{
          width: 90%;
          margin: auto;
        }
        .carouselimageradius {
          width: 100%;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
      }
      .toprightcol {
        padding: 2% 2%;
        width: 50%;
        margin: auto;
        @media screen and (max-width: 719px){
          width: 100%;
        }
        h2 {
          text-align: center;
          position: relative;
          margin-bottom: 20px;
          color: $sabledore;
          &::after {
            @include titleafter(50%, 100px, $sabledore);
          }
        }
        #tourdescript {
          text-align: left;
          margin: 0 auto 2%;
        }
        #tourspecs {
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas: "spec1 spec2 spec3";
          margin: 1% auto 2%;
          @media screen and (max-width: 400px){
           display: block;
           text-align: left;
          }

          #touroptions {
            grid-area: spec1;
            text-align: left;
            @include centerme;
            .option {
              font-size: 0.9rem;
            }
          }
          #diasincluido {
            grid-area: spec2;
            @include centerme;
            .option1 {
              display: block;
              font-size: 1.2rem;
              color: $bleuturquoise;
              font-weight: bold;
              text-align: center;
            }
          }
          #tourprice {
            @include centerme;
            grid-area: spec3;
            flex-direction: column;
            .option1 {
              font-size: 2rem;
              color: $sabledore;
              .option2 {
                font-size: 1.2rem;
                color: $sabledore;
              }
            }
          }
        }
        #tourspecfoot {
          display: flex;
          justify-content: space-around;
          margin: 1% auto 2%;
          @media screen and (max-width: 400px){
           display: block;
           margin-bottom: 10px;
          }
          .activitydifficulty,
          .activitylist {
            display: flex;
            flex-direction: column;
          }
          .difficultyclass,
          .activityimg {
            width: 40px;
            margin: 5px;
          }
        }
        a {
          @include menulink;
          @include centerme;
          width: 80%;
          margin: 0 auto;
          background-color: $bleuturquoise;
          color: $sabledore;
          border: solid 1px $bleuturquoise;
          border-radius: 5px;
          transition: 1s;
          &:hover {
            background-color: $blanc;
            color: $marron;
            border: solid 1px $bleuturquoise;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }

    #tourparttwo {
      display: flex;
      justify-content: center;
      align-items: top;
      width: 95%;
      margin: auto;
      @media screen and (max-width: 719px){
        display: block;
        margin: auto;
      }
      #middleleftcol {
        width: 50%;
        margin: auto;
        @media screen and (max-width: 719px){
          width: 90%;
        }
        h2 {
          text-align: center;
          position: relative;
          margin-bottom: 20px;
          color: $sabledore;
          &::after {
            @include titleafter(50%, 75px, $sabledore);
          }
        }
        .touritinerary {
          margin: 1%;
          padding: 1%;
          .accordion {
            transition: 1s ease-in-out;
            .item {
              position: relative;
              transition: 1s ease-in-out;
              .title {
                text-align: left;
                padding: 5px;
                cursor: pointer;
                h3:hover {
                  text-decoration: underline;
                  color: $sabledore;
                }
              }
              .underline {
                text-decoration: underline;
              }
              .content {
                position: relative;
                visibility: hidden;
                opacity: 0;
                height: 0;
                margin-bottom: 5px;
                transition: 1s ease-in-out;
                border-bottom: solid 1px $sabledore;
                // border-radius: 10px;
                p {
                  // border-radius: 5px;
                  background: $blanc;
                  padding: 10px 5px 30px;
                  transition: 1s ease-in-out;
                }
              }
              .open {
                visibility: visible;
                height: auto;
                margin-bottom: 20px;
                background: $sablechaud;
                transition: 1s ease-in-out;
                opacity: 1;
              }
            }
          }
        }
      }
      #middlerightcol {
        width: 40%;
        margin: auto;
        margin-top: 0;
        @media screen and (max-width: 719px){
          width: 90%;
          margin: auto;
        }
        h2 {
          text-align: center;
          position: relative;
          margin-bottom: 20px;
          color: $sabledore;
          &::after {
            @include titleafter(50%, 50px, $sabledore);
          }
        }
        .tourmap {
          margin: 1%;
          // paddinnpm startg: 1%;
          // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          border: solid 1px $sabledore;
        }
        .svgmap {
          transition: 1s;
          .showme {
            display: block;
          }
          .hideme {
            display: none;
          }
          .tourcontainer {
            display: block;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            max-width: fit-content;
            height: fit-content;
            margin: 1% 1%;
            padding: 0;
            background: $neutre;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            overflow: visible;
            z-index: 2;
            transition: 1s ease-in-out;
            animation: showcard 1s ease-in-out forwards;
            transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
            @keyframes showcard {
              from {
                display: block;
              }
              to {
                display: none;
              }
            }

            &:hover {
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            }
            .thumnimg {
              text-decoration: none;
              div {
                display: flex;
                align-items: center;
                max-height: 175px;
                overflow: hidden;
                border-radius: 5px 5px 0 0;
                .imgthumb {
                  max-height: 200px;
                  width: 100%;
                  border-radius: 5px 5px 0 0;
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
              h4 {
                text-align: center;
                margin: 5px 0;
              }
            }
            .tourinfos {
              display: flex;
              justify-content: space-between;
              width: 100%;
              height: 125px;
              align-items: top;
              padding: 5px 10px;
              background: $beigelight;
              overflow-y: scroll;
              p {
                background: $neutre;
                text-align: left !important;
                background: $beigelight;
                font-weight: 400;
                color: $marron;
              }
            }
          }
          svg {
            overflow: visible;
            width: 100%;
            z-index: 2;
            .mappin {
              .hideme {
                display: none;
              }
              .showme {
                display: block;
              }
              .itineraries{
                .showme {
                  display: block;
                  g{
                    path{
                      fill: $marron;
                      stroke: none;
                    }
                  }
                  path{
                    stroke: $marron3;
                    stroke-width: 3px;
                    fill: none;
                    &:hover{
                      fill:none !important;
                    }
                  }
                  .planepath{
                    stroke: $grey !important;
                    stroke-width: 3px !important;
                    fill:none !important;
                  }
                  .plane{
                    stroke: $marron !important;
                    stroke-width: 0.3px !important;
                    fill: white;
                  }
                  .planepath{
                    stroke: $grey !important;
                    stroke-width: 3px !important;
                    fill:none !important;
                  }
                  .river{
                    stroke: rgba(0, 0, 255, 0.505) !important;
                    stroke-width: 3px !important;
                    fill:none !important;
                  }
              }
            }
              g {
                .showme {
                  display: block;
                }
                path {
                  fill: $sablechaud;
                  stroke: orange;
                  cursor: pointer;
                  z-index: 2;
                  transition: 1s;
                  &:hover {
                    transition: 1s;
                    fill: $marron !important;
                    cursor: pointer;
                  }
                }
                g {
                  g {
                    path {
                      stroke-width: 0.25;
                      stroke: none;
                      fill: $marron;
                      &:hover {
                        fill: none !important ;
                        stroke: none;
                      }
                    }
                  }
                  .park{
                    path{
                      stroke: $vert;
                    }
                  }
                }
                
                .beach{
                  g{
                    path{
                      stroke: none !important;
                      // stroke-width: 3px !important;
                      fill:blue !important;
                    }
                  }
                }
              }
              #itineraire {
                g {
                  path {
                    stroke-width: 2;
                    stroke: $marron2;
                    fill: none;
                  }
                  g {
                    path {
                      stroke-width: 0.25;
                      stroke: none;
                      fill: $marron;
                    }
                  }
                }
              }
              text {
                color: $marron;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    #tourpartthree {
      display: flex;
      justify-content: center;
      margin: auto;
      align-items: top;
      @media screen and (max-width: 719px){
        display: block;
        margin: auto;
      }
      h2 {
        text-align: center;
        position: relative;
        margin-bottom: 20px;
        color: $sabledore;
        &::after {
          @include titleafter(50%, 100px, $sabledore);
        }
      }
      #tourform {
        width: 48%;
        margin: 0 2%;
        padding: 0 5%;
        @media screen and (max-width: 719px){
          width: 90%;
          margin: auto;
        }
        @media screen and (max-width: 450px){
          width: 100%;
          margin: auto;
        }
        input,
        textarea {
          display: block;
          width: 100%;
          border: none;
          border-bottom: solid 1px $sabledore;
          margin: 20px auto;
          background: $beigelight;
          &:focus {
            outline: none;
          }
        }
        textarea {
          resize: vertical;
        }
        input[type="submit"] {
          @include menulink;
          @include centerme;
          width: 100%;
          margin: 0 auto;
          background-color: $sabledore;
          color: $marron;
          border-radius: 5px;
          transition: 1s;
          &:hover {
            background-color: $bleuturquoise;
            color: $sabledore;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          }
        }
      }
      #tourincluido {
        width: 48%;
        margin: 0 2%;
        padding: 0 5%;
        margin-top: 0;
        @media screen and (max-width: 719px){
          width: 90%;
          margin: auto;
        }
        @media screen and (max-width: 450px){
          width: 100%;
          margin: auto;
        }
        div {
          border: solid 1px $sabledore;
          border-radius: 10px;
          padding: 25px;
          background: $blanc;
          h3 {
            margin: 2% auto 1%;
            background: $blanc;
          }
          li {
            background: $blanc;
          }
        }
      }
    }
  }
}
.similartitle {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  color: $sabledore;
  &::after {
    @include titleafter(50%, 100px, $sabledore);
  }
}
