#spots {
    position: relative;
    display: block;
    margin-top: 20px;
    width: 100%;
    .activitycontainer {
      position: relative;
      display: block;
      align-items: center;
      justify-content: center;
      h2 {
        position: relative;
        text-align: center;
        color: $sabledore;
        transition: 1s;
        margin: auto;
        margin-bottom: 20px;
        max-width: 80%;
        &::after {
          @include titleafter(50%, 100px, $sabledore);
        }
        // @include title02;
        // margin: 40px auto 40px;
      }
      ul {
        display: block;
        border: solid 1px $sablechaud;
        border-radius: 10px;
        // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: 0px auto 50px;
        // border-radius: 10% 90% 10% 90% / 10% 90% 10% 90%;
        padding: 10px 10px 30px;
        background: $blanc;
        margin-top: 0;
        padding: 2% 2%;
        width: 70%;
        text-align: left;
        margin: 0 auto;
        font-size: 0.87rem;
      }
      .insideactivities {
        position: relative;
        display: flex;
        align-items: center;
        // justify-content: center;
        .bouton01,
        .bouton02 {
          display: block;
          position: relative;
          width: 15%;
          @media screen and (max-width: 900px) {
            width: 5%;
          }
          button {
            font-size: 3.5rem;
            border: none;
            background-color: $beigelight;
            text-decoration: none;
            cursor: pointer;
            @media screen and (max-width: 800px) {
              font-size: 2.5rem;
            }
            i {
              color: $bleuturquoise;
              transition: 0.3s;
              &:hover {
                color: $sabledore;
                font-size: 3.3rem;
              }
            }
          }
        }
        .bouton01 {
          text-align: right;
        }
        .bouton02 {
          text-align: left;
        }
        .persocarousel {
          position: relative;
          display: block;
          width: 66%;
          margin: auto;
          @media screen and (max-width: 900px) {
            width: 89%;
          }
  
          .slide {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            @media screen and (max-width: 645px) {
              display: block;
            }
            .leftpart {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50%;
              text-align: right;
              min-height: 325px;
              left: 30px;
              z-index: 1;
              background: $beigelight;
              border-radius: 10px 0 0 10px;
              box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
              @media screen and (max-width: 645px) {
                width: 80%;
                margin: auto;
                left: 0;
                top: 20px;
                min-height: 250px;
                border-radius: 0 0 10px 10px;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
              }
              @media screen and (max-width: 575px) {
                width: 90%;
                margin: auto;
                left: 0;
              }
  
              div {
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                // transition: 1s ease-in-out;
            @media screen and (max-width: 645px) {
              min-height: 150px;
            }
  
                
                h3 {
                  // @include title02;
                  // font-size: 1.5rem;
                  // @media screen and (max-width: 700px) {
                  //   font-size: 1.2rem;
                  // }    
                  position: relative;
                  text-align: center;
                  color: $sabledore;
                  transition: 1s;
                  padding-top: 10px;
                  margin-bottom: 20px;
                  &::after {
                    @include titleafter(50%, 100px, $sabledore);
                  }
                }
                p {
                  @include paragraphe(80%, center);
                  margin: 0 auto;
                  padding-bottom: 15px;
                }
              }
              .txtdrop{
                animation: hidetext 1s ease-in-out ;
                opacity: 1;
              }
              .showtext{
                animation: hidetext-return 1s ease-in-out;
                opacity: 0;
              }
              @keyframes hidetext {
                from{
                  opacity: 0;
                }
                to{
                  opacity: 1;
                }
              }
              @keyframes hidetext-return {
                from {
                  opacity: 1;
                }
                to{
                  opacity: 0;
                }
              }
            }
            // .rightpart {
            //   position: relative;
            //   display: block;
            //   align-items: center;
            //   width: 50%;
            //   overflow: hidden;
            //   border-radius: 10px;
            //   height: 350px;
            //   z-index: -1;
            //   img {
            //     position: relative;
            //     display: block;
            //     top: 50%;
            //     transform: translateY(-50%);
            //     align-items: center;
            //     width: auto;
            //     max-width: 400px;
            //     height: 300px;
            //     border: solid 2px $sabledore;
            //     border-radius: 10px;
            //     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            //     z-index: -1;
            //     left: -100%;
            //     transition: 0.5s ease-in-out;
  
            //   }
  
  
            //   .imgslide {
            //     animation: showimage 1s ease-in-out 1s 1 alternate both !important;
            //     left: 0%;
            //   }
            //   .return {
            //     animation: testimage-return 1s ease-in-out both;
            //     left: -100%;
            //   }
  
              
            //   @keyframes showimage {
            //     from {
            //       left: -100%;
            //     }
            //     to {
            //       left: 0%;
            //     }
            //   }
              
              
            //   @keyframes testimage-return {
            //     from {
            //       left: 0%;
            //     }
            //     to {
            //       left: -100%;
            //     }
            //   }
             
  
            
            // }
            .rightpart {
              position: relative;
              display: block;
              align-items: center;
              width: 50%;
              overflow: hidden;
              border-radius: 10px;
              height: 350px;
              z-index: -1;
              @media screen and (max-width: 645px) {
                width: 80%;
                margin: auto;
                height: auto;
              }
              img {
                position: relative;
                display: block;
                align-items: center;
                max-width: 95%;
                min-height: 250px;
                max-height: 300px;
                border: solid 2px $sabledore;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                z-index: -1;
                // transition: 1s ease-in-out 1s 1 alternate both !important;
              }
  
              .imgslide {
                @media screen and (max-width: 645px) {
                  margin: auto;
                  left: 0%;
                  animation: showimage ease-in 1s forwards  !important;
                }
                @media screen and (min-width: 646px){
                  left: 0%;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
              .return {
                @media screen and (max-width: 645px) {
                  margin: auto;
                  left: 0%;
                  animation: testimage-return ease-in 1s forwards !important;
                }
                @media screen and (min-width: 646px){
                  left: -100%;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
  
              @keyframes showimage {
                from {
                  top: -100%;
                }
                to {
                  top: 0%;
                }
              }
  
              @keyframes testimage-return {
                from {
                  top: 0%;
                }
                to {
                  top: -100%;
                }
              }
            }
          
          }
  
          .diapoinactive {
            display: none !important;
          }
        }
      }
    }
  }
  