.tourcontainer {
  display: inline-block;
  position: relative;
  vertical-align: top;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: fit-content;
  margin: 1% 1%;
  padding: 0;
  background: $neutre;
  // border: solid 2px $sabledore;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  // @media screen and (max-width: 800px) {
  //   width: 290px;
  //   // height: 700px;
  // }
  // @media screen and (max-width: 670px) {
  //   width: 250px;
  //   // height: 700px;
  // }
  @media screen and (max-width: 580px) {
    margin: 5px;
    width: 290px;
    // height: 700px;
  }
  @media screen and (max-width: 470px) {
    margin: 5px;
    width: 300px;
    // height: 700px;
  }
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  .thumnimg {
    a {
      text-decoration: none;
      div {
        display: flex;
        align-items: center;
        max-height: 175px;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        .imgthumb {
          max-height: 200px;
          width: 100%;
          border-radius: 5px 5px 0 0;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
    h3 {
      text-align: center;
      margin: 5px 0;
    }
  }
  .tourinfos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 125px;
    align-items: top;
    padding: 5px 10px;
    background: $beigelight;
    .tourcolone {
      width: 65%;
      background: $beigelight;
      text-align: left !important;
      // @media screen and (max-width: 580px) {
      //   width: 55%;
      // }
      @media screen and (max-width: 470px) {
        width: 65%;
      }
      p,
      span {
        background: $neutre;
        text-align: left !important;
        background: $beigelight;
      }
      p {
        font-weight: bold;
        text-align: left !important;
      }
      span {
        font-weight: 400;
        .difficultyclass {
          width: 30px;
          background: $beigelight;
        }
      }
    }
    .tourcoltwo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 85px;
      // padding: 5px;
      border: solid 1px $bleuturquoise;
      border-radius: 250px;
      text-align: center;
      background: $bleuturquoise;
      // @media screen and (max-width: 580px) {
      //   width: 45%;
      // }
      @media screen and (max-width: 470px) {
        width: 30%;
      }
      div {
        p {
          font-weight: 400;
          color: $beigenaturel;
          @media screen and (max-width: 580px) {
            font-size: 0.75rem;
          }
          @media screen and (max-width: 470px) {
            font-size: 1rem;
          }
          @media screen and (max-width: 340px) {
            font-size: 0.75rem;
          }
        }
        span {
          font-weight: 400;
          color: $beigenaturel;
        }
        .daynumber {
          font-size: 1rem;
          // font-weight: 600;
          color: $beigelight;
          margin-bottom: 0.5rem;
          @media screen and (max-width: 580px) {
            font-size: 0.75rem;
          }
          @media screen and (max-width: 470px) {
            font-size: 1rem;
          }
          @media screen and (max-width: 340px) {
            font-size: 0.75rem;
          }
        }
        .tourprice {
          font-size: 1rem;
          // font-weight: 400;
          color: $beigelight;
          margin-bottom: 0.5rem;
          @media screen and (max-width: 580px) {
            font-size: 0.75rem;
          }
          @media screen and (max-width: 470px) {
            font-size: 1rem;
          }
          @media screen and (max-width: 340px) {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  .tourbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(35deg, $sabledore, $sablechaud);
    // border: 1px solid $sablechaud;
    color: $blanc;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: linear-gradient(35deg, $bleuturquoise, $bleuturquoiselight);
      color: $beigelight;
      // border: 1px solid $bleuturquoiselight;
    }
  }
}
